/* bree-serif-regular - latin-ext_latin */
@font-face {
  font-family: "Bree Serif";
  font-style: normal;
  font-weight: 400;
  src: url("./bree-serif/bree-serif-v7-latin-ext_latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Bree Serif Regular"), local("BreeSerif-Regular"),
    url("./bree-serif/bree-serif-v7-latin-ext_latin-regular.eot?#iefix") format("embedded-opentype"), 
    url("./bree-serif/bree-serif-v7-latin-ext_latin-regular.woff2") format("woff2"), 
    url("./bree-serif/bree-serif-v7-latin-ext_latin-regular.woff") format("woff"), 
    url("./bree-serif/bree-serif-v7-latin-ext_latin-regular.ttf") format("truetype"), 
    url("./bree-serif/bree-serif-v7-latin-ext_latin-regular.svg#BreeSerif") format("svg"); /* Legacy iOS */
  font-display: swap;
}
