/* open-sans-regular - latin-ext_latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./open-sans/open-sans-v15-latin-ext_latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("./open-sans/open-sans-v15-latin-ext_latin-regular.eot?#iefix") format("embedded-opentype"), 
    url("./open-sans/open-sans-v15-latin-ext_latin-regular.woff2") format("woff2"), 
    url("./open-sans/open-sans-v15-latin-ext_latin-regular.woff") format("woff"), 
    url("./open-sans/open-sans-v15-latin-ext_latin-regular.ttf") format("truetype"), 
    url("./open-sans/open-sans-v15-latin-ext_latin-regular.svg#OpenSans") format("svg"); /* Legacy iOS */
  font-display: swap;
}
