.ui.header.home-header {
    font-size: 3em;
    font-weight: normal;

    &:first-child {
        margin-top: 0.3em;
    }

    &:last-child {
        margin-bottom: 0.6em;
    }
}

@media not print {
    .ui.header.home-header {
        display: none;
    }
}

@media print {
    .ui.ribbon.label {
        left: 0;
        padding: 0 0 0 1.6em;
        font-size: 1.2em;
        font-weight: 800;

        & svg {
            position: absolute;
            top: 0;
            left: 0;
        }

        &:after {
            display: none;
        }
    }

    .ui.right.ribbon.label {
        transform: none;
    }
}

.boxed {
    margin: 1em;
}

.links-with-icons {
    a {
        white-space: nowrap;
    }
}
